* {
    margin: 0;
    padding: 0;
}

.chessBoard {
    margin: 0 auto;
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.whitePole {
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 38px;
    text-align: center;
}

.blackPole {
    width: 50px;
    height: 50px;
    background-color: saddlebrown;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 38px;
    text-align: center;
}

.lineName {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;

    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 32px;

    text-align: center;
}